#boxForStart {
    border: solid 2px black;
    width: 80%
}
#emailContentBox {
    border: solid 2px black;
    width: 80%
}


.span:hover{
    color: blue;
}
.wordSelected{
    background-color: lightblue;
}

.emailSubject{
    font-size: 14px;
    color: black;
}
.emailContent{
    font-size: 14px;
    color: black;
}
.emailSender{
    font-size: 14px;
    color: black;
}