body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

#container {
    flex: 1;
    display: flex;
}




#emailContentBox {
    border: solid 2px black;
    padding: 2px;
    align-self: stretch;
}
#sideBar {
    border: 2px solid black;
    float: left;
    width: 100px;

    display: flex;
    flex-direction: column;

    gap: 8px;
    padding-top: 4px;
}
#playArea{
    border: solid 1px grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.span:hover{
    color: blue;
}
.wordSelected{
    background-color: lightblue;
}

.emailSubject{
    font-size: 22px;
    color: black;
}
.emailContent{
    font-size: 14px;
    color: black;
}
.emailSender{
    font-size: 14px;
    color: grey;
}

.correct{
    background-color: green;
}
.wrong{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}
.missed{
    background-color: lightcoral;
}

.questionSelectButton{
    border: solid 1px black;
    width: 80%;
    padding: 2px;
}
#levelSelectPanel{
    width: 100px; 
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 8px;
}


.questionSelectButton {/*grok AI made the next three styles*/
  /* Reset to browser default button appearance */
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;

  /* Inherit default font and color */
  font: inherit;
  color: inherit;

  /* Default button layout */
  display: inline-block;
  padding: 6px 6px;
  margin: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid;
  border-color: inherit;
  border-radius: 4px;
  user-select: none;

  /* Optional: match default focus outline */
  outline: none;

  width:90%;
}
.selectedQuestion{
    border: solid 4px lightblue;
}
.completedQuestion{
    background-color: rgb(73, 214, 73);
}
